.quadro {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    min-height: 100px;
    background-color: white;
    border: 2px solid #ECEEF6;
    border-radius: 8px;
  }
  
  .titulo_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.botao_container {
    margin-left: 10px;
}