/* Estilização da página de login */
.container {
  display: flex;
  height: 100vh;
  background-color: #f0f2f5; /* Cor de fundo clara */
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

.loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translateX(100px);
}

.loginForm {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.inputContainer {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

.input:focus {
  outline: none;
  border-color: #007bff; /* Cor de foco azul */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.loginButton {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Cor azul para o botão */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #0056b3; /* Cor de hover no botão */
}

@media (max-width: 768px) {
  .loginForm {
    width: 90%;
    padding: 20px;
  }
}
