.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}

.trancas_container {
  margin-top: 80px;
  margin-left: 270px;
}

.search_container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Garante que os itens sejam distribuídos corretamente */
}

.add_lock_button {
  margin-left: auto; /* Move o botão para a extrema direita */
  padding: 8px 16px; /* Ajuste o padding conforme necessário */
  background-color: #4caf50; /* Cor de fundo verde (ajuste conforme seu design) */
  color: white; /* Cor do texto */
  border: none;
  border-radius: 4px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor em forma de ponteiro ao passar o mouse */
}

.add_lock_button:hover {
  background-color: #45a049; /* Cor ao passar o mouse */
}

/* Estilos para o Modal de Registro de Tranca */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permite rolar se o conteúdo for grande */
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com opacidade */
}

.modal_content {
  background-color: #f7f7f7; /* Fundo claro para destaque */
  padding: 20px;
  border-radius: 10px; /* Pontas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
  max-width: 400px; /* Limite de largura para o formulário */
  width: 80%; /* Garante que o formulário não ultrapasse a largura definida */
  margin: 15% auto; /* Margem de 15% do topo */
}

.modal_content h1 {
  text-align: center;
  margin-bottom: 20px;
}

.modal_content input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px; /* Pontas arredondadas */
  border: 1px solid #ccc;
}

.modal_content button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50; /* Fundo azul */
  color: white;
  border: none;
  border-radius: 5px; /* Pontas arredondadas */
  cursor: pointer;
}

.close {
  color: #aaa;
  float: right; /* Alinha o 'X' à direita */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  display: block; /* Para que o elemento use o espaço disponível */
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 10px; /* Adiciona espaçamento interno */
  border: 1px solid #ccc; /* Borda padrão */
  border-radius: 8px; /* Bordas arredondadas */
  width: 200px; /* Largura do dropdown */
  font-size: 16px; /* Tamanho da fonte */
  background-color: #fff; /* Cor de fundo */
  transition: border-color 0.3s; /* Transição suave para mudanças de cor */
}

.dropdown:focus {
  border-color: #007bff; /* Cor da borda ao focar (opcional) */
  outline: none; /* Remove o contorno padrão do navegador */
}

.actionButton {
  width: 50px; /* Define a largura do botão */
  height: 23px; /* Define a altura do botão */
  margin: 0 4px; /* Espaçamento horizontal entre os botões */
  padding: 0; /* Remove padding para manter as dimensões exatas */
  border: none;
  color: white; /* Cor do texto */
  border: none;
  border-radius: 5px; /* Pontas arredondadas */
  cursor: pointer;
}

.greenButton {
  background-color: #4caf50; /* Botões verdes */
}

.redButton {
  background-color: rgb(185, 30, 30); /* Botões vermelhos */
}

.deleteButton {
  background-color: rgb(81, 81, 81); /* Botões cinzas */
}

.confirmButton {
  width: 50px; /* Define a largura do botão */
  height: 40px; /* Define a altura do botão */
  margin: 0 4px; /* Espaçamento horizontal entre os botões */
  padding: 0; /* Remove padding para manter as dimensões exatas */
  border: none;
  color: white; /* Cor do texto */
  border: none;
  border-radius: 5px; /* Pontas arredondadas */
  cursor: pointer;
  margin-top: 10px; /* Espaçamento entre as linhas superior e inferior */
}

